{% extends 'front_site_office/base_front.html.twig' %}

{% block title %} DevinArt {% endblock %}

{% block body %}
    <div class="container-fluid gtco-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1> We promise to bring
                        the best <span>solution</span> for
                        your business. </h1>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus turpis nisl. </p>
                    <a href="#">Contact Us <i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
                <div class="col-md-6">
                    <div class="card"><img class="card-img-top img-fluid"
                                           src="{{ asset('front_site_office/images/banner-img.png') }}" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid gtco-features" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <svg id="bg-services"
                         width="100%"
                         viewBox="0 0 1000 800">
                        <defs>
                            <linearGradient id="PSgrad_02" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                                <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1"/>
                                <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1"/>
                            </linearGradient>
                        </defs>
                        <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_02)"
                              d="M801.878,3.146 L116.381,128.537 C26.052,145.060 -21.235,229.535 9.856,312.073 L159.806,710.157 C184.515,775.753 264.901,810.334 338.020,792.380 L907.021,652.668 C972.912,636.489 1019.383,573.766 1011.301,510.470 L962.013,124.412 C951.950,45.594 881.254,-11.373 801.878,3.146 Z"/>
                    </svg>
                    <div class="row">
                        <div class="col">
                            <div class="card text-center">
                                <div class="oval"><img class="card-img-top"
                                                       src="{{ asset('front_site_office/images/web-design.png') }}"
                                                       alt=""></div>
                                <div class="card-body">
                                    <h3 class="card-title">Web Design</h3>
                                    <p class="card-text">Nullam quis libero in lorem accumsan sodales. Nam vel nisi
                                        eget.</p>
                                </div>
                            </div>
                            <div class="card text-center">
                                <div class="oval"><img class="card-img-top"
                                                       src="{{ asset('front_site_office/images/marketing.png') }}"
                                                       alt=""></div>
                                <div class="card-body">
                                    <h3 class="card-title">Marketing</h3>
                                    <p class="card-text">Nullam quis libero in lorem accumsan sodales. Nam vel nisi
                                        eget.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center">
                                <div class="oval"><img class="card-img-top"
                                                       src="{{ asset('front_site_office/images/web-design.png') }}"
                                                       alt=""></div>
                                <div class="card-body">
                                    <h3 class="card-title">Web Design</h3>
                                    <p class="card-text">Nullam quis libero in lorem accumsan sodales. Nam vel nisi
                                        eget.</p>
                                </div>
                            </div>
                            <div class="card text-center">
                                <div class="oval"><img class="card-img-top"
                                                       src="{{ asset('front_site_office/images/marketing.png') }}"
                                                       alt=""></div>
                                <div class="card-body">
                                    <h3 class="card-title">Marketing</h3>
                                    <p class="card-text">Nullam quis libero in lorem accumsan sodales. Nam vel nisi
                                        eget.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center">
                                <div class="oval"><img class="card-img-top"
                                                       src="{{ asset('front_site_office/images/seo.png') }}" alt="">
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">SEO</h3>
                                    <p class="card-text">Nullam quis libero in lorem accumsan sodales. Nam vel nisi
                                        eget.</p>
                                </div>
                            </div>
                            <div class="card text-center">
                                <div class="oval"><img class="card-img-top"
                                                       src="{{ asset('front_site_office/images/graphics-design.png') }}"
                                                       alt=""></div>
                                <div class="card-body">
                                    <h3 class="card-title">Graphics Design</h3>
                                    <p class="card-text">Nullam quis libero in lorem accumsan sodales. Nam vel nisi
                                        eget.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid gtco-testimonials" id="about">
        <div class="container">
            <h2>TEAM</h2>
            <div class="owl-carousel owl-carousel1 owl-theme">
                {% for team in team_liste %}
                    {% set photo = team.photo %}
                    {% if photo is null %}
                        {% set photo = 'front_site_office/images/customer1.jpg' %}
                    {% endif %}
                    <div>
                        <div class="card text-center"><img class="card-img-top"
                                                           src="{{ photo }}"
                                                           alt="">
                            <div class="card-body">
                                <h5>{{ team.name }} <br/>
                                    <span> Project Manager </span></h5>
                                <p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque
                                    nihil
                                    impedit quo minus id quod maxime placeat ” </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="fh5co-practice" class="fh5co-bg-section">
        <div class="container">
            <div class="col-md-12">
                <h1 class="ml8">
                      <span class="letters-container text-center">
                        <span class="letters letters-left text-orange">Nos Services</span>
                        <span class="letters bang">!</span>
                      </span>
                    <span class="circle circle-white"></span>
                    <span class="circle circle-dark"></span>
                    <span class="circle circle-container"><span class="circle circle-dark-dashed"></span></span>
                </h1>
            </div>
            <div class="row animate-box fadeInUp animated-fast">
                <div class="col-md-12 text-center fh5co-heading">
                    <h2>Our Legal Practice Area</h2>
                    <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident.
                        Odit ab aliquam dolor eius.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center animate-box fadeInUp animated-fast">
                    <div class="services">
						<span class="icon">
							<i class="fa fa-sitemap"></i>
						</span>
                        <div class="desc">
                            <h3><a href="#">Web</a></h3>
                            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                                provident. Odit ab aliquam dolor eius.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box fadeInUp animated-fast">
                    <div class="services">
						<span class="icon">
							<i class="fa fa-phone"></i>
						</span>
                        <div class="desc">
                            <h3><a href="#">Mobile</a></h3>
                            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                                provident. Odit ab aliquam dolor eius.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box fadeInUp animated-fast">
                    <div class="services">
						<span class="icon">
							<i class="fa fa-desktop"></i>
						</span>
                        <div class="desc">
                            <h3><a href="#">Desktop</a></h3>
                            <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem
                                provident. Odit ab aliquam dolor eius.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center animate-box fadeInUp animated-fast">
                    <p><a class="btn btn-primary btn-lg btn-learn" href="#">View More</a></p>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-practice" class="fh5co-bg-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 h-100 text-center animate-box bg-danger fadeInUp animated-fast" style="height: 400px!important;">
                    <h1 class="ml3 text-white">Web Developpement</h1>
                </div>
                <div class="col-md-6 h-100 text-center animate-box bg-warning fadeInUp animated-fast" style="height: 400px!important;">
                    <h1 class="ml12 text-white">Mobile Developpement</h1>
                </div>
                <div class="col-md-6 h-100 text-center animate-box bg-info fadeInUp animated-fast" style="height: 400px!important;">
                    <h1 class="ml15 text-white">
                        <span class="word">Design</span>
                        <span class="word">Integration</span>
                        <span class="word">SEO</span>
                    </h1>
                </div>
                <div class="col-md-6 h-100 text-center animate-box bg-success fadeInUp animated-fast" style="height: 400px!important;">
                    <h1 class="ml16 text-white">Desktop application</h1>
                </div>
            </div>
            <div class="col-md-12">
                <h1 class="ml4 text-center text-warning">
                    <span class="letters letters-1 text-blue">Ready?</span>
                    <span class="letters letters-2 text-blue">Set</span>
                    <span class="letters letters-3 text-blue">Go!</span>
                </h1>
            </div>
        </div>
    </div>


{% endblock %}




